body{
    margin: 0px;
    padding: 0px;
    background-color: #222222 ;
    font-family: Verdana, sans-serif;
}
.site-header .container
{
    padding-top: 50px;
    padding-bottom: 180px;
    color: #ffffff;
    background-color: #222222;
    background-position: 525px 120px;
    background-image: url(../img/moon-rocket.png);
    background-repeat: no-repeat;
    
}
.contacts-menu{
    list-style: none;
    text-decoration: none;
    display: flex;
}
.contacts-menu a{
    margin-right: 20px;
}
.container{
    width: 1040px;
    margin: 0 auto;
    padding: 0;
}
.main-nav{
    margin-bottom: 95px;
    display: flex
}
.logo{
    display: flex;
    padding: 0px; 
    margin-right: 30px;
}
.site-menu {
    margin-top: 25px;
    display: flex;
    flex-wrap: wrap;
    width: 660px;
    padding-left: 40px;
    list-style: none;
}
.site-menu a {
    display: block;
    margin-right: 40px;
    font-size: 14px;
    text-decoration: none;
    color: #d4d4d4;
}
.about-us{
    padding: auto;
    width: 300px;
    padding-left: 20px;
}
.about-us h1{
    margin-top: 0px;
    margin-bottom: 50px;
    padding: 0px;
    font-size: 45px;
    line-height: 50px;
    font-family: "Courier New", monospace;
    
}
.about-us p{
    margin: 0px;
    margin-bottom: 40px;
    padding-left: 10px;
}

.btn{
    display: inline-block;
    width: 195px;
    padding: 0 25px;
    font-weight: bold;
    font-size: 14px;
    line-height: 50px;
    text-decoration: none;
    text-transform: uppercase;
    vertical-align: top;
    color: #222222;
    border: none;
    background-image: url(../IMG/right-arrow-dark.png);
    background-repeat: no-repeat;
    background-position: 200px;;
    border-radius: 50px;
    background-color: gold;
}
.wh a:hover {
    background: #ffffff;   
    background-image: url(../IMG/right-arrow-dark.png);
    background-repeat: no-repeat;
    background-position: 200px;;
}
.features{
    background-color: #0E0D0B;
    display: flex;
    padding: 90px 0 ;
    
}
.feature-made-in-russia
{
    background-image: url(../IMG/advantage-icon-1.png);
    background-repeat: no-repeat;
    background-size: auto;
}
.feature-food{
    background-image: url(../IMG/advantage-icon-2.png);
    background-repeat: no-repeat;
    background-size: auto;
}
.feature-pilots{
    background-image: url(../IMG/advantage-icon-3.png);
    background-repeat: no-repeat;
    background-size: auto;
}
.feature-moon-rover{
    background-image: url(../IMG/advantage-icon-4.png);
    background-repeat: no-repeat;
    background-size: auto;
}
.features-list
{ 
    display: flex;
    color:aliceblue;
    list-style: none;
    margin-right: 0px;
    padding: 0px;
    margin-bottom: 50px;
}
.features-list li{
    margin-right: 80px;
    font-size: 14px;
    padding-top: 80px;
}
.lead{
    font-family: "Courier New", monospace;
    font-size: 25px
}
.columns-container {
    display: flex;
}
.moon-vacation {
    background-color: aliceblue;
    padding-top: 80px;
    padding-bottom: 45px;
    margin-bottom: 
}

.columns-container .left-column {
    width: 440px;
    margin-right: 80px;
}
.columns-container .right-column {
    width: 440px;
}
.visually-hidden
{
    position: absolute;
    width: 1px;
    height: 1px;
    overflow: hidden;
    width: 1px;
}
.site-footer
{
    background-color: #0E0D0B;
    padding-top: 50px;
    padding-bottom: 80px;
    color: gray;
    
}
.footer-columns-container {
    display: flex;
    
}
.footer-menu{
    display: flex;
    margin-left: 50px;
} 
.footer-menu{
    text-decoration: none;
list-style: none;
}
.footer-menu li{
    width: 180px;
    margin-right: 55px;
}
.footer-submenu li{
    margin-top: 30px;
    list-style: none;
    margin-bottom: 20px;
    text-decoration: none;
    color: #d4d4d4;
}
.footer-submenu a{
    text-decoration: none;
    color: #d4d4d4;
    
}
.footer-submenu{
    margin: 0px;
    padding: 0px;
    list-style: none;
}
.recommendations{
    background-color: aliceblue;
    padding-top: 20px;
    padding-bottom: 55px;
}
.recommendations-list li
{
    list-style: none;
    padding-bottom: 30px
}
.recommendations-list li:before {
    color: #FFD700; 
    content: "•"; 
    margin-right: 10px;
    margin-left: -20px;
    font-size: 21px;
   }
.copyrights{
    margin-top: 150px;
}
.logo-container{
    display: flex;
    color: aliceblue;
    align-items: center;
    width: 160px
}
.foot{
    padding-bottom: 20px;
    margin-top: 70px;
    text-decoration: none;
    list-style: none;
    color: #d4d4d4;
    font-size: 16px;
    color: white;
    border-bottom: 1px solid #555555;
}